@page
@model KoCNihul.Pages.Genders.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>מחיקת מגדר</h1>

<h3>האם הינך בטוח שברצונך למחוק?</h3>
<div>
    <h4>Gender</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender.Desc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender.Desc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender.Context)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender.Context)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender.Active)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Gender.GenderId" />
        <input type="submit" value="מחק" class="btn btn-danger" /> |
        <a asp-page="./Index">חזרה לרשימה</a>
    </form>
</div>
