@page
@model KoCNihul.Pages.Owners.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>מחיקת מפעיל</h1>

<h3>האם הינך בטוח שברצונך למחוק?</h3>
<div>
    <h4>Owner</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.OwnerType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.OwnerType.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.Desc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.Desc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.Tel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.Tel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.Adress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.Adress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.Mail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.Mail)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Owner.OwnerId" />
        <input type="submit" value="מחק" class="btn btn-danger" /> |
        <a asp-page="./Index">חזרה לרשימה</a>
    </form>
</div>
