@page
@model KoCNihul.Pages.Populations.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>מחיקת אוכלוסיה</h1>

<h3>האם הינך בטוח שברצונך למחוק?</h3>
<div>
    <h4>אוכלוסיה</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Population.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Population.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Population.Desc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Population.Desc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Population.Context)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Population.Context)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Population.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Population.Active)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Population.PopulationId" />
        <input type="submit" value="מחק" class="btn btn-danger" /> |
        <a asp-page="./Index">חזרה לרשימה</a>
    </form>
</div>
