@page
@model KoCNihul.Pages.Publishers.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>מחיקת מפרסם</h1>

<h3>האם הינך בטוח שברצונך למחוק?</h3>
<div>
    <h4>מפרסמים</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publisher.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher.Desc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publisher.Desc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher.Tel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publisher.Tel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher.Adress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publisher.Adress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher.Mail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publisher.Mail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher.OwnerType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publisher.OwnerType.Title)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Publisher.PublisherId" />
        <input type="submit" value="מחק" class="btn btn-danger" /> |
        <a asp-page="./Index">חזרה לרשימה</a>
    </form>
</div>
