@page
@model KoCNihul.Pages.Publishers.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>כל המפרסמים</h1>

<p>
    <a asp-page="Create">יצירת מפרסם חדש</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Publisher[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher[0].Desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher[0].Tel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher[0].Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher[0].Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher[0].OwnerType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Publisher) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerType.Title)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PublisherId">עריכה</a> |
                <a asp-page="./Details" asp-route-id="@item.PublisherId">פרטים</a> |
                <a asp-page="./Delete" asp-route-id="@item.PublisherId">מחיקה</a>
            </td>
        </tr>
}
    </tbody>
</table>
