@page
@model KoCNihul.Pages.Categories.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>פרטים</h1>

<div>
    <h4>קטגוריות</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.Desc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Desc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.Context)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Context)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Active)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Category.CategoryId">עריכה</a> |
    <a asp-page="./Index">חזרה לרשימהד</a>
</div>
